---
subject: "Bem-vindo(a), {{firstName}}!"
---
<html>
  <body>
    <h1>Olá, {{firstName}}!</h1>
    <p>Estamos muito felizes em ter você aqui.</p>
    <p>Sua conta foi criada com sucesso.</p>
  </body>
</html>
